
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
 body{
  background: linear-gradient(to bottom, #4e4e4e, #333333);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0; /* Elimina el margen predeterminado del body */
  padding: 0; /* Elimina el padding predeterminado del body */
  height: 100vh; /* Establece la altura del body al 100% del viewport height */
 }


.button {
  user-select: none;
  }

  .button:hover {
    background-color: #727272;
    cursor: pointer;
    color: #a8a8a8;
  }

  .container {
    display: flex;
    justify-content: center;
    font-family: "Kode Mono", monospace; ;
    color: #fff;
      /* Define el fondo como un degradado lineal */
  }
  
  .stats_Column,
  .upgradeList {
   /* Ambos divs ocupan el mismo espacio */
    margin: 0 10px;
    width:50%;
  }
  
 