
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
 body{
  background: linear-gradient(to bottom, #4e4e4e, #333333);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0; /* Elimina el margen predeterminado del body */
  padding: 0; /* Elimina el padding predeterminado del body */
  height: 100vh; /* Establece la altura del body al 100% del viewport height */
 }


.button {
  padding: 0.1em 0.6em;
  border: 1px solid #ccc;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
  color: #333;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 2px #fff inset;
  border-radius: 3px;
  display: inline-block;
  margin: 0px 0.1em;
  text-shadow: 0px 1px 0px #cecece;
  line-height: 1.4;
  white-space: nowrap;
  font-size: 12px;
  cursor: pointer;
  }

  .button:hover {
    background-color: #727272;
    cursor: pointer;
    color: #a8a8a8;
  }

  .container {
    display: flex;
    justify-content: center;
    font-family: "Kode Mono", monospace; ;
    color: #fff;
      /* Define el fondo como un degradado lineal */
  }
  
  .stats_Column,
  .upgradeList {
   /* Ambos divs ocupan el mismo espacio */
    margin: 0 10px;
    width:50%;
  }
  
 