
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');
 body{
  background: linear-gradient(to bottom, #4e4e4e, #333333);
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 0; /* Elimina el margen predeterminado del body */
  padding: 0; /* Elimina el padding predeterminado del body */
  height: 100%; /* Establece la altura del body al 100% del viewport height */
 }


.button {
  user-select: none;
  }

  .button:hover {
    background-color: #727272;
    cursor: pointer;
    color: #a8a8a8;
  }

  .container {
    display: flex;
    justify-content: center;
    font-family: "Kode Mono", monospace; ;
    color: #fff;
      /* Define el fondo como un degradado lineal */
  }
  
  .stats_Column,
  .upgradeList {
   /* Ambos divs ocupan el mismo espacio */
    margin: 0 10px;
    width:50%;
  }
  
 .logos{
  width:3vh;
  margin-right: 1vw; 
  filter: drop-shadow( 5px 5px 10px #000 );
  image-rendering: pixelated;
 }

 .logo-and-title {
  display: flex;
  align-items: center;
}

.logo-and-title {
    display: flex;
    align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; 
}

.navbar-logo img {
  height: 6vh;
  margin-left: 45vw; 
}

.navbar-menu {
  display: flex;
  align-items: center;
}

.navbar-menu input[type="checkbox"] {
  display: none;
}

.navbar-menu label {
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
}

.menu-items {
  display: none;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-items li {
  padding: 10px;
}

.menu-items li a {
  color: white;
  text-decoration: none;
}

/* Mostrar el menú desplegable cuando se activa el checkbox */
input[type="checkbox"]:checked ~ .menu-items {
  display: block;
}

.container {
  padding-top: 9vh; 
}
